.pagination{

  list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
}

.pagination li {
      float: left!important;
}
.pagination a{
  display: block;
    padding: 8px;
    background-color: red;
    color: white;
}

.dropdown-menu{
  background-color: red;
}
.dropdown-menu li a {
  color: white;
}
#pageDropDown{
  background-color: red;
  color: white;
}

.order{
  background: red;
}
 
